<section class="center">
  <button (click)="loadPopularMovies()">Películas populares</button>

  <button (click)="loadTrendingMovies()">Películas "trending"</button>

  <button *ngIf="data" (click)="clean()">Borrar</button>
</section>
<section class="center2" *ngIf="!data">Sin resultados</section>

<section *ngIf="data">
  <h1>{{ title }}</h1>
  <div class="movies">
    <div class="movie" *ngFor="let movie of data">
      <h1>{{ movie.title || movie.original_title || movie.name}}</h1>
      <img class="poster" src="{{ imgDomain + movie.poster_path }}" alt="" />
    </div>
  </div>
</section>

